@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fredoka: var(--font-fredoka);
  --font-plusJakartaSans: var(--font-plus-jakarta-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-k-primary-color: var(--k-primary-color);
  --color-k-secondary-color: var(--k-secondary-color);
  --color-k-background-primary: var(--k-background-primary);
  --color-k-background-secondary: var(--k-background-secondary);
  --color-k-blue: var(--k-blue);
  --color-k-text-primary: var(--k-text-primary);
  --color-k-text-secondary: var(--k-text-secondary);
  --color-k-text-tertiary: var(--k-text-tertiary);
  --color-k-text-heading: var(--k-text-heading);
  --color-k-text-black: var(--k-text-black);
  --color-k-text-button: var(--k-text-button);
  --color-app-background-primary: var(--app-background-primary);
  --color-app-background-secondary: var(--app-background-secondary);
  --color-app-background-model: var(--app-background-model);
  --color-app-background-card: var(--app-background-card);
  --color-app-input-primary: var(--app-input-primary);
  --color-app-input-secondary: var(--app-input-secondary);
  --color-app-input-yellow: var(--app-input-yellow);
  --color-app-text-primary: var(--app-text-primary);
  --color-app-text-secondary: var(--app-text-secondary);
  --color-app-text-tertiary: var(--app-text-tertiary);
  --color-app-text-black: var(--app-text-black);
  --color-app-text-blue: var(--app-text-blue);
  --color-app-text-yellow: var(--app-text-yellow);
  --color-app-button-primary: var(--app-button-primary);
  --color-app-button-secondary: var(--app-button-secondary);
  --color-app-button-gray: var(--app-button-gray);
  --color-app-button-yellow: var(--app-button-yellow);
  --color-app-button-blue: var(--app-button-blue);
  --color-app-button-white: var(--app-button-white);
  --color-app-icon: var(--app-icon);
  --color-app-button-text-color: var(--app-button-text-color);
  --color-app-range-slider-primary: var(--app-range-slider-primary);
  --color-app-range-slider-secondary: var(--app-range-slider-secondary);
  --color-app-range-slider-track: var(--app-range-slider-track);
  --color-app-range-slider-track-active: var(--app-range-slider-track-active);
  --color-app-background-card-secondary: var(--app-background-card-secondary);
  --color-app-text-blackandwhite: var(--app-text-blackandwhite);
  --color-app-background-tertiary: var(--app-background-tertiary);
  --color-app-okay-icon-background:var(--app-okay-icon-background);

  
  --color-app-search-bar-background: var(--app-search-bar-background);
  --color-app-search-bar-text: var(--app-search-bar-text);
  --color-app-search-bar-icon: var(--app-search-bar-icon);
  --color-app-blog-selected-tabs-background: var(--app-blog-selected-tabs-background);
  --color-app-blog-selected-tabs-text: var(--app-blog-selected-tabs-text);
  --color-app-blog-unselected-tabs-background: var(--app-blog-unselected-tabs-background);
  --color-app-blog-unselected-tabs-text: var(--app-blog-unselected-tabs-text);
  --color-app-blog-card-background: var(--app-blog-card-background);
  --color-app-blog-card-heading: var(--app-blog-card-heading);
  --color-app-blog-card-category-background: var(--app-blog-card-category-background);
  --color-app-blog-card-category-text: var(--app-blog-card-category-text);
  --color-app-blog-card-author-text: var(--app-blog-card-author-text);
  --color-app-card-button-bg-primary:var(--app-card-button-bg-primary);
  --color-app-card-highlight-button:var(--app-card-highlight-button);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --k-primary-color:oklch(0.9672 0 0); /* #F0F0F0 color (gray color) */
  --k-secondary-color:oklch(0.8531 0.162 85.01); /* #FFC533 color (yellow color) */
  --k-background-primary: oklch(1 0 0); /* #FFFFFF color (white color) */
  --k-background-secondary: oklch(0.9219 0 0); /* #e5e5e5 color (light gray color) */
  --k-background-tertiary: oklch(0.9672 0 89.88); /* #A9A9A9 color (dark gray color) */
  --k-blue: oklch(0.5202 0.2679 263.21); /* #004DFF color (blue color) */
  --k-text-primary: oklch(0 0 0); /* #000000 color (black color) */
  --k-text-secondary: oklch(0.7348 0 89.88); /* #A9A9A9 color (dark gray color) */
  --k-text-tertiary: oklch(0.9672 0 89.88); /* #F4F4F4 color (light gray color) */
  --k-text-heading: oklch(1 0 0); /* #FFFFFF color (white color) */
  --k-text-black: oklch(0 0 0); /* #000000 color (black color) */
  --k-text-button: oklch(0.2686 0 0); /* #262626 color (dark gray color) */

  /* -------------- NEW COLOR SETUP ------------ */
  /* BACKGROUND */
  --app-background-primary: oklch(1 0 89.88); /* #FFFFFF */
  --app-background-secondary: oklch(0.9219 0 89.88); /* #EBEBEB */
  --app-background-model: oklch(1 0 89.88); /* #FFFFFF */
  --app-background-tertiary: oklch(1 0 0);
  --app-background-card: oklch(0.9551 0 89.88); /* #F4F4F4 */
  --app-background-card-secondary: oklch(0 0 0); /* #000000 */
  /* ICON */
  --app-icon: oklch(0 0 0);
  --app-okay-icon-background: oklch(0.9581 0 0);

  /* INPUT */
  --app-input-primary: oklch(0.9551 0 89.88);  /* #F4F4F4 */
  --app-input-secondary: oklch(0.8564 0.1871 83.38);  /* #FFD966 */
  --app-input-yellow: oklch(0.8564 0.1871 83.38);  /* #FFD966 */

  /* TEXT */
  --app-text-primary: oklch(0 0 0);   /* #000000 */
  --app-text-secondary: oklch(0.5999 0 89.88); /* #999999 */
  --app-text-tertiary: oklch(1 0 89.88);  /* #FFFFFF */
  --app-text-black: oklch(0 0 0);  /* #000000 */
  --app-text-blue: oklch(0.5275 0.28234714827626795 260.80097608857864);  /* #645EFF */
  --app-text-white: oklch(1 0 0);  /* #FFFFFF */
  --app-text-yellow:oklch(0.8531 0.162 85.01); /*#FFC533*/
  --app-text-blackandwhite: oklch(1 0 0);  /* #FFFFFF */
  

  /* BUTTON */
  --app-button-primary: oklch(0 0 0); /* #000000 */
  --app-button-secondary: oklch(1 0 89.88); /* #FFFFFF */
  --app-button-gray: oklch(0.2393 0 89.88); /* #3D3D3D */
  --app-button-yellow: oklch(0.8564 0.1871 83.38); /* #FFD966 */
  --app-button-blue: oklch(0.5275 0.28234714827626795 260.80097608857864); /* #645EFF */
  --app-button-white:oklch(1 0 89.88);


  /*BUTTON TEXT COLOR*/
  --app-button-text-color: oklch(1 0 0); /* #FFFFFF color (white color) */

  /* RANGE SLIDER */
  --app-range-slider-primary: oklch(0.203 0.004 270); /* #343434 */
  --app-range-slider-secondary: oklch(1 0 0); /* #FFFFFF */
  --app-range-slider-track: oklch(0 0 0); /* #000000 */
  --app-range-slider-track-active: oklch(0.931 0.004 20); /* #EEECEC */


  /*SEARCH BAR*/
  --app-search-bar-background: oklch(0.9551 0 89.88); /* #F4F4F4 */
  --app-search-bar-text: oklch(0.5999 0 0); /* #808080*/
  --app-search-bar-icon: oklch(0.5999 0 0);  /*#808080*/

  /*BLOG PAGE*/
  --app-blog-selected-tabs-background: oklch(0.8531 0.162 85.01);  /*#FFC533*/
  --app-blog-selected-tabs-text: oklch(0.2393 0 0);  /*#1f1f1f*/
  --app-blog-unselected-tabs-background: oklch(0.2393 0 0); /*#1f1f1f*/
  --app-blog-unselected-tabs-text: oklch(1 0 0); /* #FFFFFF */

  --app-blog-card-background: oklch(0.9551 0 0); /*#f0f0f0*/
  --app-blog-card-heading: oklch(0 0 0);  /*000000*/
  --app-blog-card-category-background: oklch(0.2393 0 0); /*#1f1f1f*/
  --app-blog-card-category-text: oklch(1 0 0);    /* #FFFFFF */
  --app-blog-card-author-text: oklch(0.2686 0 0); /*#262626*/

  /*BLOG DETAILS PAGE*/
  --app-blog-details-title:oklch(0 0 0);
  --app-blog-details-subtitle:oklch(0.5999 0 89.88);

  /*SHOP PAGE*/
  --app-card-button-bg-primary:oklch(0 0 0);
  --app-card-highlight-button:oklch(1 0 0); 
  
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --k-primary-color:oklch(0.2393 0 0); /* #1F1F1F color (dark gray color) */
  --k-secondary-color:oklch(0.8531 0.162 85.01); /* #FFC533 color (yellow color) */
  --k-background-primary: oklch(0.1591 0 89.88); /* #0d0d0d color (black color) */
  --k-background-secondary: oklch(0.2134 0 0); /* #191919 color (dark gray color) */
  --k-blue: oklch(0.5202 0.2679 263.21); /* #004DFF color (blue color) */
  --k-text-primary: oklch(1 0 0); /* #FFFFFF color (white color) */
  --k-text-secondary: oklch(0.7952 0 0); /* #BCBCBC color (gray color) */
  --k-text-tertiary: oklch(0.2046 0 0); /* #171717 color (dark gray color) */
  --k-text-heading: oklch(0 0 0); /* #000000 color (black color) */
  --k-text-black: oklch(0 0 0); /* #000000 color (black color) */
  --k-text-button: oklch(0.8853 0 89.88); /* #d9d9d9 color (light gray color) */

  /* -------------- NEW COLOR SETUP ------------ */
  /* BACKGROUND */
  --app-background-primary: oklch(0.1591 0 89.88);
  --app-background-secondary: oklch(0.2134 0 89.88);
  --app-background-model: oklch(0 0 0);
  --app-background-tertiary: oklch(0 0 0);
  --app-background-card: oklch(0.2931 0 89.88);
  --app-background-card-secondary: oklch(1 0 0);

  /* ICON */
  --app-icon: oklch(1 0 89.88);
  --app-okay-icon-background: oklch(0.9581 0 0);

  /* INPUT */
  --app-input-primary: oklch(0.2393 0 89.88);
  --app-input-secondary: oklch(0.8564 0.1871 83.38);
  --app-input-yellow: oklch(0.8564 0.1871 83.38);

  /* TEXT */
  --app-text-primary: oklch(1 0 89.88);
  --app-text-secondary: oklch(0.7952 0 0);
  --app-text-tertiary: oklch(0.1591 0 89.88);
  --app-text-black: oklch(0 0 0);
  --app-text-bcolor: oklch(0 0 0);
  --app-text-white: oklch(1 0 0);
  --app-text-yellow:oklch(0.8531 0.162 85.01); /*#FFC533*/
  --app-text-blackandwhite: oklch(0 0 0);
  --app-text-blue: oklch(0.5275 0.28234714827626795 260.80097608857864);
  --app-text-yellow: oklch(0.8564 0.1871 83.38);

  /* BUTTON */
  --app-button-primary: oklch(1 0 89.88);
  --app-button-secondary: oklch(0.9551 0 89.88);
  --app-button-gray: oklch(0.2393 0 89.88);
  --app-button-yellow: oklch(0.8564 0.1871 83.38);
  --app-button-blue: oklch(0.5275 0.28234714827626795 260.80097608857864);

  /*BUTTON TEXT COLOR*/
  --app-button-text-color: oklch(0 0 0); /* #FFFFFF color (black color) */

  /* RANGE SLIDER */
  --app-range-slider-primary: oklch(0.861 0.006 270);
  --app-range-slider-secondary: oklch(0.122 0.004 270);

  --app-range-slider-track: oklch(1 0 0);
  --app-range-slider-track-active: oklch(0.533 0.008 270);

  /*SEARCH BAR*/
  --app-search-bar-background: oklch(0.2046 0 0); /*#171717*/
  --app-search-bar-text: oklch(0.7952 0 0); /*#bcbcbc*/
  --app-search-bar-icon: oklch(0.7952 0 0); 

  /*BLOG PAGE*/
  --app-blog-selected-tabs-background: oklch(0.8531 0.162 85.01);  /*#ffc533*/
  --app-blog-selected-tabs-text: oklch(0.1591 0 0);  /*#0d0d0d*/
  --app-blog-unselected-tabs-background: oklch(0.2393 0 0); /*#1f1f1f*/
  --app-blog-unselected-tabs-text: oklch(1 0 0); /*#ffffff*/

  --app-blog-card-background: oklch(0.2931 0 89.88); /*#2c2c2c*/
  --app-blog-card-heading: oklch(1 0 0); /*#ffffff*/
  --app-blog-card-category-background: oklch(0.2393 0 0); /*#1f1f1f*/
  --app-blog-card-category-text: oklch(1 0 0);/*#ffffff*/
  --app-blog-card-author-text: oklch(0.8853 0 0); /*#d9d9d9*/

  /*SHOP PAGE*/
  --app-card-button-bg-primary:oklch(0.9551 0 0);
  --app-card-highlight-button:oklch(0.9551 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* HEADING */
.text-heading {
  font-family: var(--font-plusJakartaSans); /* Uses the variable defined in @theme and layout.tsx */
  font-weight: 700;
  font-size: 23px;
  line-height: 100%; /* or 1 */
  letter-spacing: -0.3px;
}
/* TITLE */
.text-title {
  font-family: var(--font-plusJakartaSans); /* Uses the variable defined in @theme and layout.tsx */
  font-weight: 700;
  font-size: 19px;
  line-height: 100%; /* or 1 */
  letter-spacing: 0%;
}
/* BODY */
.text-body {
  font-family: var(--font-plusJakartaSans); /* Uses the variable defined in @theme and layout.tsx */
  font-weight: 400;
  font-size: 16px;
  line-height: 100%; /* or 1 */
  letter-spacing: 0%;
}
/* CAPTION */
.text-caption {
  font-family: var(--font-plusJakartaSans); /* Uses the variable defined in @theme and layout.tsx */
  font-weight: 400;
  font-size: 13px;
  line-height: 100%; /* or 1 */
  letter-spacing: 0%;
}

/*
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/ /
//
//

/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/

/*SUB CAPTIONS */
.text-sub-caption {
  font-family: var(--font-plusJakartaSans); /* Uses the variable defined in @theme and layout.tsx */
  font-weight: 900;
  font-size: 11.29px;
  line-height: 100%; /* or 1 */
  letter-spacing: 0%;
  ;
}

/*SUB TEXTS*/
.sub-texts {
  font-family: var(--font-plusJakartaSans); /* Uses the variable defined in @theme and layout.tsx */
  font-weight: 500;
  font-size: 13.89px;
  line-height: 100%; /* or 1 */
  letter-spacing: 0%;
  ;
}

/*PARAGRAPH */
.paragraph {
  font-family: var(--font-plusJakartaSans); /* Uses the variable defined in @theme and layout.tsx */
  font-weight: 400;
  font-size: 10px;
  line-height: 100%; /* or 1 */
  letter-spacing: 0%;
  ;
}

/* Hide scrollbar completely */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Optional: Add this if you want to ensure smooth scrolling on iOS */
@supports (-webkit-overflow-scrolling: touch) {
  .scrollable-tabs {
    -webkit-overflow-scrolling: touch;
  }
}







  

